<div class="row">
    <div class="col-md-8 offset-md-2">

        <h1>Administrador: <%=current_user.name%>, Bienvenido a Natillera</h1>
        <div class="offset-md-2">
            <p>Ahorro de todos los usuarios: <%=number_to_currency(@ahorrototal, :unit => "$")%></p>
            <p>Beneficio de todas las actividades: <%=number_to_currency(@beneficiototal, :unit => "$")%></p>
            <h3>Selecciona un usuario para comenzar</h3>

            <%@users.each do |user|%>
            <p> <%= link_to user.name, user_path(user.id) %> </p>
            <%end%>
        </div>
    </div>
</div>

