@import "bootstrap";

body { 
    background-color: #f5f5f2;
}
#welcome {
    margin-top: 20px;
    margin-left: 10px;
}
.row {
    margin-top: 10px;
}
#debtcolor {color: red;}


.thing {
    background-color: white;
    border: 1px solid #ccc; 
    border-radius: 10px;
    margin-top: 20px;
}

.insidething {
    margin: 18px;
}

@media (min-width: 992px) {
    .landing {
        margin-left: 60px;
    }
    .thing {
        margin-left: 20px;
    }

}